@import "./vars.css";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html, body, #root {
  height: 100vh;
  background-color: var(--color-yellow);
}

.App {
    width: 100%;
    height: 100%;
  }

  .navbar, .navbar-default {
    background-color: var(--color-red) !important;
  }

  .bg-navbar {
    background-image: linear-gradient(to bottom 
  right,#7708ae,#6c0850,#b14861 )
  }