@import '../vars.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.login-page {
    font-family: "Outfit", sans-serif;
    color: black; 
    background-color: bisque;
    height: 100%;
    width: 100%;
  }

  .login-form, .signup-form {
    justify-content: center;
    text-align: center;
  }